<app-navbar></app-navbar>
<div class="m-3">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Reason</th>
              <th scope="col">Type</th>
              <th scope="col">Division</th>
              <th scope="col">Category</th>
              <th scope="col">Priority</th>
              <th scope="col">Department</th>
              <th scope="col">Location</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of list;">
              <td>{{project.name}}</td>
              <td>{{project.reason}}</td>
              <td>{{project.type}}</td>
              <td>{{project.division}}</td>
              <td>{{project.category}}</td>
              <td>{{project.priority}}</td>
              <td>{{project.department}}</td>
              <td>{{project.location}}</td>
              <td>{{project.status}}</td>
              <td>
                <button type="button" (click)="startProject(project._id)" *ngIf="project.status == 'close' || project.status == 'cancel'" class="btn btn-primary btn-sm ml-2">Start</button>
                <button type="button" (click)="closeProject(project._id)" *ngIf="project.status == 'running' || project.status == 'cancel'"class="btn btn-primary btn-sm ml-2">Close</button>
                <button type="button" (click)="cancelProject(project._id)" *ngIf="project.status == 'running' || project.status == 'close'"class="btn btn-primary btn-sm ml-2">Cancel</button>
              </td>
            </tr>
          </tbody>
    </table>
</div>