<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="row full-width">
            <div class="col-sm-4">
                <a class="navbar-brand" href = '/dashboard'>
                    TPL
                </a>
            </div>
            <div class="col-sm-8" align="right">
                <button type="button" class="btn btn-sm white-txt" [routerLink]="['/project']">
                    Add Project
                </button>
                <button type="button" class="btn btn-sm white-txt" [routerLink]="['/list']">
                    List Project
                </button>
                <button type="button" class="btn btn-sm white-txt" [routerLink]="['/login']">
                    Logout
                </button>
            </div>
        </div>
      </div>
</nav>
